body{
  font-family: Arial, Helvetica, sans-serif ;
  content: '';
  top: 0;
  left: 0;
  margin:0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image:linear-gradient(
    rgba(26, 26, 102, 0.8),
      rgba(211, 211, 250, 0.7)
    
  ), url(https://i1.wp.com/blogsmedia.lse.ac.uk/blogs.dir/9/files/2019/07/code.jpg?ssl=1);
  line-height: 2;
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
    
    font-family: Courier;
    text-align: center;
    color: aliceblue;    
}

span{
    font-weight: lighter;
}
.div-style {
    
    margin: auto;
    width: 900px;
    background-color: white;
    border-radius: 10px;
    padding: 60px
  }
  
  label{
   
      font-size: 25px;
      

  }
  input ,textarea {
    height: 20px;
    width:90%;
    padding: 12px;
    margin: 10px;   
   border-radius: 2px;
  }
  .input-textarea {
    min-height: 120px;
    width: 100%;
  }
select{
    height:40px;
    width:95%;
    margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
  .checkmark {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }

  .check{
        margin-left: auto;
        width: 48%;
    
  }

  .submit-button {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    font-size: medium;
    color:black
  }
  button:hover{
      color: grey ;
  }

  input,
button,
select,
textarea {
 
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}